<div class="products-container">
    <div class="search">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li *ngFor="let category of categories" class="nav-item active">
                        <a class="nav-link" href="#">{{category.CategoryName}}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>
    </div>
    <div class="display"
        style="display: flex;justify-content: flex-start;flex-wrap: wrap; overflow: auto;height: calc(60vh - 70px);">
        <div *ngFor="let product of products" class="product-card">
            <div *ngFor="let image of images" class="image-container" >
              <img [src]="image.ProductImagePath" *ngIf="image.ProductId === product.ProductId" class="product-image" [alt]="image.ProductImageDescription">
            </div>
            <div class="d-flex justify-content-around">
              <span>{{product.ProductName}}</span>
              <span>{{product.ProductPrice}}</span>
            </div>
          </div>          
    </div>
</div>