<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <h1 class="title">
        Coffee
      </h1>
      <div class="toggle" (click)="handleSidebarToggle()" (keydown.enter)="handleSidebarToggle()" (keydown.space)="handleSidebarToggle()" tabindex="0">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
          <div class="icon">
            <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
          </div>
          <div class="title">Trang Bán Hàng</div>
        </div>
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/manage/employees']" [routerLinkActive]="'active'">
          <div class="icon">
            <span nz-icon nzType="user" nzTheme="outline"></span>
          </div>
          <div class="title">Nhân Viên</div>
        </div>       
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/manage/products']" [routerLinkActive]="'active'">
          <div class="icon">
            <span nz-icon nzType="product" nzTheme="outline"></span>
          </div>
          <div class="title">Sản phẩm</div>
        </div>   
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/manage/categories']" [routerLinkActive]="'active'">
          <div class="icon">
            <span nz-icon nzType="reconciliation" nzTheme="outline"></span>
          </div>
          <div class="title">Danh mục sản phẩm</div>
        </div>       
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/manage/receipts']" [routerLinkActive]="'active'">
          <div class="icon">
            <span nz-icon nzType="file-done" nzTheme="outline"></span>
          </div>
          <div class="title">Quản lý hóa đơn</div>
        </div>       
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/manage/statistics']" [routerLinkActive]="'active'">
          <div class="icon">
            <span nz-icon nzType="pie-chart" nzTheme="outline"></span>
          </div>
          <div class="title">Thống kê</div>
        </div>       
      </div>
      <div class="link" (click)="logOut()">
        <div class="content" [routerLinkActive]="'active'">
          <div class="icon">
            <span nz-icon nzType="select" nzTheme="outline"></span>
          </div>
          <div class="title">Đăng Xuất</div>
        </div>       
      </div>
    </div>
    <div class="footer"></div>
  </div>