<div class="container">
    <div class="filter-tab">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>      
            <button (click)="createEmployee()" type="button" class="btn btn-primary me-2">Thêm nhân viên</button>
        <button type="button" class="btn btn-primary">Tải CSV</button>
    </div>
    <br>
    <app-table-display [columns]="columns" [data]="data"></app-table-display>
</div>