<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://img.freepik.com/premium-vector/it-s-coffee-time-handwritten-about-coffee-time_622952-74.jpg" alt="logo">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
     
            
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form1Example13">Tên đăng nhập</label>
              <input [(ngModel)]="username" name="username" type="email" id="form1Example13" class="form-control form-control-lg" />
             
            </div>
  
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form1Example23">Mật khẩu</label>
              <input [(ngModel)]="password" name="password" type="password" id="form1Example23" class="form-control form-control-lg" />
             
            </div>
  
          
        
                <button type="button" (click)="handleLogin()" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">
                    Đăng nhập
                </button>
            
            
  
  
    
        </div>
      </div>
    </div>
  </section>
