<div class="container d-flex">
    <div class="left d-flex justify-content-center align-items-center" style="width: 50%;">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form d-flex flex-column gap-3" style="width: 90%;">
            <div class="row-1 d-flex ">
                <h5 style="width: 100px">Loại</h5>

                <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
                    {{categoryDisplay}}
                </button>
                <nz-dropdown-menu #menu4="nzDropdownMenu">
                    <ul nz-menu>
                        <li (click)="selectCategory(category)" *ngFor="let category of categories" nz-menu-item>
                            {{category.CategoryName}}
                        </li>
                        <li nz-menu-item style="cursor: pointer;" (click)="showModalMiddle()">Add category</li>
                        <nz-modal [(nzVisible)]="isVisibleMiddle" nzTitle="Add category" nzCentered
                            (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
                            <ng-container *nzModalContent>
                                <input nz-input placeholder="..." [(ngModel)]="value" type="text" [ngModelOptions]="{standalone: true}"/>
                            </ng-container>
                        </nz-modal>
                    </ul>
                </nz-dropdown-menu>

            </div>
            <div class="row-2 d-flex align-items-center gap-3">
                <div style="width: 100px; font-weight: 500; font-size: 20px;">Tên món</div>
                <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên món" required />
            </div>
            <div class="row-3 d-flex align-items-center gap-3">
                <div style="width: 100px; font-weight: 500; font-size: 20px;">Giá bán</div>
                <input type="number" class="form-control" formControlName="price" placeholder="Nhập giá món" required />
            </div>
            <div class="row-3 d-flex align-items-center gap-3">
                <div style="width: 100px; font-weight: 500; font-size: 20px;">Mô tả</div>
                <textarea type="textarea" class="form-control" formControlName="description"
                    placeholder="Nhập mô tả món" required></textarea>
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-primary me-2">Lưu</button>
                <button type="button" class="btn btn-danger">Hủy bỏ</button>
            </div>
        </form>
    </div>
    <div class="right d-flex align-items-center justify-content-center" style="width: 50%;">
        <div *ngIf="!uploadedImage" class="image-box d-flex flex-column justify-content-center align-items-center"
            style="border: 3px solid lightgrey; width: 250px; height: 250px; border-radius: 8px; cursor: pointer;"
            (click)="openFileInput()">
            <i class="bi bi-image" style="font-size: 100px; color: grey;"></i>
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
        </div>
        <img *ngIf="uploadedImage" [src]="uploadedImage"
            style="width: 250px; height: 250px; border-radius: 8px; object-fit: cover;" />
    </div>

</div>