<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let column of columns" scope="col">{{ column }}</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let column of columns">
        <ng-container *ngIf="isObject(row[column]); else nonObject">
          <div *ngFor="let key of getObjectKeys(row[column])">
            <strong>{{ key }}:</strong> {{ row[column][key] }}
          </div>
        </ng-container>
        <ng-template #nonObject>{{ row[column] }}</ng-template>
      </td>
      <td><button type="button" class="btn btn-primary" style="margin-right: 10px;">Sửa</button> <button type="button" class="btn btn-danger">Xóa</button>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
      </td>
    </tr>
  </tbody>
</table>
