<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let column of columns" scope="col">{{ column }}</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let column of columns">
        <ng-container *ngIf="isObject(row[column]); else nonObject">
          <div *ngFor="let key of getObjectKeys(row[column])">
            <strong>{{ key }}:</strong> {{ row[column][key] }}
          </div>
        </ng-container>
        <ng-template #nonObject>{{ row[column] }}</ng-template>
      </td>
      <td>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">Sửa</button> 
        <button *ngIf="currentPath === 'products'" type="button" class="btn btn-danger" (click)="deleteItem(row.ProductId)" >Xóa</button> 
        <button *ngIf="currentPath === 'employees'" type="button" class="btn btn-danger" (click)="deleteItem(row.EmployeeId)" >Xóa</button>
      </td>
    </tr>
  </tbody>
</table>
