<div class="container d-flex justify-content-center gap-5">
    <canvas baseChart width="600" height="600"
    [type]="'pie'"
    [datasets]="pieChartDatasets"
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
  <br>
  <button (click)="downloadExcel()" nz-button nzType="primary">Download Excel Báo Cáo</button>
  <!-- <div style="display: block;">
      <canvas baseChart width="400" height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
      </canvas>
    </div> -->
  
</div>
