<!-- dashboard.component.html -->
<div class="container">
  <div class="section section-left">
    <app-miniorder></app-miniorder>
  </div>
  <div class="section section-middle">
    <div class="subsection subsection-top">
      <app-table></app-table>
    </div>
    <div class="subsection subsection-bottom">
      <app-products-section style="width: 60%;padding: 10px;"></app-products-section>
      <app-miniorder style="width: 40%"></app-miniorder>
    </div>
  </div>
</div>
<a href="/manage">
  <button type="button" class="btn btn-warning">

    Quản lý

  </button>
</a>