<!-- dashboard.component.html -->
<div class="container">
  <div class="section section-left">
    <div class="receipt" *ngFor="let receipt of receipts">
      <div class="header d-flex justify-content-center">
        Bàn {{tableNum}}
      </div>
      <table class="custom-table">
        <tr>
          <td>Giá</td>
          <td></td>
        </tr>
        <tr>
          <td>Ngày</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="section section-middle">
    <div class="subsection subsection-top">
      <app-table (tableNumEmitter)="selectTable($event)"></app-table>
    </div>
    <div class="subsection subsection-bottom">
      <app-products-section [images]="images" [categories]="categories" [products]="products"
        style="width: 60%;padding: 10px;"></app-products-section>
      <app-miniorder [tableNum]="tableNum" style="width: 40%"></app-miniorder>
    </div>
  </div>
</div>
<a href="/manage">
  <button type="button" class="btn btn-warning">

    Quản lý

  </button>
</a>