.table-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  button {
    padding: 15px 30px;
    margin: 10px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(145deg, #c47615, #ad7721);
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  button:hover {
    background: #6F4E37; /* Màu nâu đậm hơn */
    transform: scale(1.1);
}

button:active {
    background: #D2691E; /* Màu nâu cam */
    transform: scale(0.95);
}

button.inUse {
    background: #8B4513; /* Màu nâu đậm */
}

.takeaway {
    background: #8B4513; /* Màu nâu đậm */
}

.takeaway:hover {
    background: #6F4E37; /* Màu nâu đậm hơn */
}

.takeaway:active {
    background: #D2691E; /* Màu nâu cam */
}


  .icon {
    margin-right: 10px;
    font-size: 24px;
    transition: transform 0.3s;
  }
  
  button:hover .icon {
    transform: rotate(360deg);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    transition: all 0.5s;
    transform: translateX(-100%) translateY(-100%);
  }
  
  button:hover::before {
    transform: translateX(0) translateY(0);
  }
  